/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos de encabezados */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #333;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

/* Estilos de párrafos */

p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* Estilos de enlaces */

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos de listas */

ul,
ol {
  margin-top: 0;
  margin-bottom: 1em;
}

li {
  margin-left: 2em;
}

/* Estilos de formulario */

form {
  margin: 0 auto;
  width: 60%;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
